$primary: #110121;
$primaryLight: #350249;
$primaryDark: #121324; // this color is used in 'Pricing' section
$purple: #a020f0;
$bgDark: #15091f;
$bgLight: #d7d3d8;
$success: #0FAE96;
$blueDark: #1F203B; // this color is used in each block of 'Pricing' section
$grayLight: #E9EEED;
$white: #ffffff;
$pink: #EA689E;